<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
</head>
<body>

<h2>欢迎来到登陆页面</h2>

<!--添加问题-->
<div>
    <form action="/addquestion" method="post">

        <input type="text" name="id" placeholder="id">
        <input type="text" name="item" placeholder="item">
        <input type="text" name="value1" placeholder="value1">
        <input type="text" name="value2" placeholder="value2">
        <input type="submit" value="添加问题">
        <h2 th:utext="${msg}"></h2>   <!--添加成功-->
        <h2 th:utext="${msg1}"></h2>
    </form>
</div>


<!--删除问题-->
<div>
    <form action="/deletequestion" method="post">
        <input type="text" name="id" placeholder="id">
        <input type="submit" value="删除问题">

        <h2 th:utext="${msg2}"></h2>   <!--删除成功-->
        <h2 th:utext="${msg3}"></h2>

    </form>
</div>

<!--修改问题-->
<div>
    <form action="/updatequestion" method="post">
        <input type="text" name="id" placeholder="id">
        <input type="text" name="item" placeholder="item">
        <input type="text" name="value1" placeholder="value1">
        <input type="text" name="value2" placeholder="value2">
        <input type="submit" value="修改问题">

        <h2 th:utext="${msg4}"></h2>   <!--修改成功-->
        <h2 th:utext="${msg5}"></h2>
    </form>
</div>

<!查询一个问题>
<div>
    <form action="/getquestion" method="post">
        <input type="text" name="id" placeholder="id">
        <input type="submit" value="查询问题">

        <h2 th:utext="${msg6}"></h2>   <!--查询成功-->
        <h2 th:utext="${msg7}"></h2>
    </form>
</div>

<!--查询所有用户-->
<div>
    <form action="/getallquestion" method="post">
        <input type="submit" value="查询所有问题">
    </form>
</div>

</body>
</html>